
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f9;
  font-family: "Poppins", sans-serif;
  color: #111;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 30px;
}

.card {
  background: #fffdfd;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}


.card-content {
  padding: 18px;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #111;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #ff3c00;
  margin-bottom: 10px;
}

.description {
  color: #666;
  line-height: 1.5;
  margin-bottom: 18px;
  min-height: 60px;
}

.badge {
  position: absolute;
  top: 12px;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  z-index: 10;
}

.offer-badge {
  left: 12px;
  background: #ff3c00;
}

.sold-badge {
  right: 12px;
  background: #16a34a;
}

.available-badge {
  right: 12px;
  background: #111;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(248, 247, 247);
  background-color: #e23600;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.03);
  background: #666;
}

.edit-btn {
  background: orange;
}

.delete-btn {
  background: red;
}

.sold-btn {
  background: green;
}

.offer-btn {
  background: #ff3c00;
}

.footer {
  text-align: center;
  padding: 30px;
  background: #111;
  color: white;
  margin-top: 40px;
  font-size: 16px;
}

/* =========================
   TABLET
========================= */

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .card img {
    height: 220px;
  }

  .card h3 {
    font-size: 20px;
  }

  .price {
    font-size: 20px;
  }

  button {
    width: 100%;
  }
}
/* =========================
   PAGE
========================= */

.login-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #111, #1f1f1f);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* =========================
   CARD
========================= */

.login-card {
  width: 950px;
  max-width: 100%;
  min-height: 550px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

/* =========================
   LEFT
========================= */

.login-left {
  flex: 1;
  background: #111;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 30px;
}

.login-left img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.login-right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h2 {
  font-size: 34px;
  margin-bottom: 30px;
  color: #111;
}

.login-right input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.login-right input:focus {
  border: 1px solid #ff3c00;
}

.login-right button {
  padding: 15px;
  background: #ff3c00;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-right button:hover {
  background: #e23600;
}



@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
  }

  .login-left {
    display: none;
  }

  .login-right {
    padding: 30px;
  }
}